services:
  # postgres:
  #   image: postgres:16-alpine
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB:-app}
  #     POSTGRES_USER: ${POSTGRES_USER:-app}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-app_password}
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - ./pg-data:/var/lib/postgresql/data
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-app} -d ${POSTGRES_DB:-app}"]
  #     interval: 5s
  #     timeout: 3s
  #     retries: 20

  # redis:
  #   image: redis:7-alpine
  #   command: ["redis-server", "--appendonly", "yes"]
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - ./redis-data:/data
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 5s
  #     timeout: 3s
  #     retries: 20

  chromadb:
    image: chromadb/chroma:0.4.24
    ports:
      - "8001:8000"
    volumes:
      - ./chroma-data:/chroma/chroma
    networks:
      - app_net
    environment:
      - TZ=America/Los_Angeles

  ai-backend:
    build: ./ai-backend
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway" # 映射宿主机网关
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./ai-backend/app:/app/app
      - ./chroma-data:/chroma-data
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --log-config /app/app/logging.conf
    depends_on:
      - chromadb
    networks:
      - app_net
    environment:
      - TZ=America/Los_Angeles

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./nginx/default.local.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - ai-backend
    networks:
      - app_net
    environment:
      - TZ=America/Los_Angeles


  # node-bff:
  #   build: ./node-bff
  #   env_file: .env
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     ai-backend:
  #       condition: service_started

networks:
  app_net:
    external: true
